 <h1>Zelda Compendium</h1>
        <div class="header-div">
            
        </div>
        <nav class="main-nav">
            <div class="hamburger">&#9776;</div>
                <ul>
                    <li><a href="/index.html">Home</a></li>
                    <div class="nav-divider"></div>
                    <li><a href="/compendiums/botw.html">BOTW</a></li>
                    <div class="nav-divider"></div>
                    <li><a href="/compendiums/totk.html">TOTK</a></li>
                    <div class="nav-divider"></div>
                    <li><a href="/compendiums/full.html">Full Compendium</a></li>
                    <div class="nav-divider"></div>
                    <li><a href="#">Favorites</a></li>
                </ul>
        </nav>