.item-name, .item-category, .item-description, .item-locations, .item-drops {
    text-align: center;
    margin: 1rem;
    text-transform: capitalize;
}

.item-content {
    max-width: 150vh;
    margin: auto;
}

.item-image {
    margin:auto;
    display:block;
    border-radius: 10px;
    border: 5px solid var(--color-light-green)

}